.signContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.signBackground {
    min-width: 350px;
    padding: 2rem;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    gap : 10px;
    flex-direction: column;

    font-family: Merriweather;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.signSubmit {
    background-color: var(--dark-brown);
    color: white;
    width: 10vw;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.signSubmit:hover {
    background-color: #341C02;
}

.loginLink {
    color: var(--dark-brown);
    text-decoration: underline solid var(--dark-brown);
}

@media (max-width : 480px) {
    .signSubmit {
        width: 40vw;
        padding: 8px;
    }

    .signContainer {
        height: 90vh;
    }
}