.navContainer {
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
    font-family: 'Merriweather';
    font-size:50px;
    box-shadow: 1px 1px 1px 1px gray;
    justify-content: space-between;
}

.navLink {
    padding: 10px;
    transition: 0.2s background-color ease-in-out;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink:hover {
    background-color: var(--dark-brown);
    color: white;
    
}