.navContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: 'Merriweather';
    font-size:50px;
    box-shadow: 1px 1px 1px 1px gray;
    justify-content: space-between;
    background-color: var(--background);
}

.navLink {
    padding: 10px;
    transition: 0.2s background-color ease-in-out;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink:hover {
    background-color: var(--dark-brown);
    color: white;
    
}

.mobileNav {
    display: none;
}

@media (max-width: 480px) {
    .navContainer {
        position: relative;
        z-index: 1000;
        isolation: isolate;
        background-color: var(--background);
    }

    .mobileNav {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: var(--background);
        z-index: 1;
        transform: translateY(-150%);
        transition: 0.4s transform ease-in-out;
    }

    .visibleNav {
        transform: translateY(0);
    }
}

.mobileNavLink {
    display: block;
    border-top: 1px solid var(--light-brown);
    width: 100%;
    font-size: x-large;
    padding: 1.2rem;
    font-family: 'Merriweather', Helvetica, sans-serif;
    text-align: center;
}