.puzzleContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-bottom: 20px;
}

.puzzleButtons {
    display: flex;
    flex-direction: column;
    gap: 0.5em
}

.puzzle {
    background-color: var(--light-brown);
    padding: 5px;
    border: 0.5px solid var(--dark-brown);
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.guessContainer {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding:5px;
    padding-top: 10px;
}

.guessInput {
    background-color: white;
    width: 75%;
    padding: 5px;
    border-radius: 5px 0 0 5px;
}

.guessInput:focus-visible {
    border: 0;
    outline: 0;
}

.guessButton {
    background-color: var(--dark-brown);
    color: white;
    width: 25%;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
}

.guessButton:hover {
    background-color: #341C02;
}

.book:hover {
    background-color: var(--medium-brown);
}

.bookNames {
    position: absolute;
    bottom: auto;
    background-color: var(--background);
    padding: 3px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 2px;
}

.imageSize {
    height: 70vh;
}

.friendsButton {
    background-color: var(--dark-brown);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.5rem;
    width: 30%;
    margin-bottom: 1rem;
}

.friendsButton:hover {
    background-color: #341C02;
}



@media (max-width : 480px) {
    .puzzle {
        font-size: 18px;
        width: 90vw;
    }

    .book {
        padding: 0.7rem;
    }

    .bookNames {
        max-height: 250px;
        overflow: scroll;
        max-width: 96vw;
    }

    .imageSize {
        height: 60vh;
    }

    .friendsButton {
        width: 40%;
        padding: 8px;
    }
}